body {
	margin: 10px;
	padding: 20px;
	width: 960px;
	border: 2px solid #777;
}

#debug_log {
	margin: 10px 0px;
	padding: 5px 10px;
	height: 1.5em;
	color: white;
	background-color: red;
}
#debug_log a {
	vertical-align: middle;
}


#remote_home {
	position: relative;
	width: 960px;
	height: 540px;
	background-color: #ddd;
}
#device_map {
	float: left;
}
#device_list {
	float: right;
	list-style: none;
}
#device_list li, 
#device_list li > button {
	margin: 5px;
	width: 150px;
	height: 54px;
}

#remote_control {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	text-align: center;
	vertical-align: middle;
	/*opacity: 0.5;*/
	display: none;
}
#remote_control button {
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50px;
}
#remote_control iframe {
	position: absolute;
	left: 0px;
	top: 50px;
	width: 95%;
	height: 90%;
	text-align: center;
}