<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>LG Dios</title>

	<!--<link rel="stylesheet" type="text/css" href="http://s3.ihappening.net/test_media/third_party/jquery/css/jquery-ui-1.9.2.custom.css" />-->

	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script> -->
	<!--<script type="text/javascript" src="http://s3.ihappening.net/test_media/third_party/jquery/js/jquery-ui-1.9.2.custom.min.js"></script>-->

	<!-- head scripts -->

	<!--<link rel="stylesheet" href="/static/css/account.css" type="text/css" media="all" />-->

	<style type="text/css">
	body {
		width: 80%;
		height: 80%;
		background-color: orange;
	}
	</style>

</head>


<body>

<h3>LG Dios</h3>
<button id="on">On</button><br/>
<button id="off">Off</button><br/>





<!-- body scripts -->

<script type="text/javascript">

document.getElementById("on").onclick = function () {
	var xhr = new XMLHttpRequest();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == xhr.DONE && xhr.status === 200) {
			alert(xhr.result);
		}
	};
	xhr.open('POST', '/do/on', true);
	xhr.send();
}

document.getElementById("off").onclick = function () {
	var xhr = new XMLHttpRequest();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == xhr.DONE && xhr.status === 200) {
			alert(xhr.result);
		}
	};
	xhr.open('POST', '/do/off', true);
	xhr.send();
}

</script>

</body>
</html>
